{% extends 'layout.html' %}
{% block title%}
 Insertar-usuario
 {{super() }}
{% endblock%}

{% block content %}


<h1>Insertar Usuario:</h1>


<form  action="" method="POST" class="row g-3 needs-validation" novalidate>
    <div class="col-md-4 position-relative">
      <label for="validationTooltip01" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="validationTooltip01" value="{{usuario.1}}"  name="nombre_user" required>
      <div class="valid-tooltip">
        
      </div>
    </div>
    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Correo</label>
      <input type="mail" class="form-control" id="validationTooltip02" value="{{usuario.2}}"  name="correo" required>
      <div class="valid-tooltip">
        
      </div>
    </div>
   
    <div class="col-12">
      <input class="btn btn-primary" type="submit" value="Actualizar"> <a class="btn btn-danger" aria-current="page" href="/">Cancelar</a>
    </div>
  </form>

{% endblock %}